<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <h1>Logan's Superb Taylor Swift Trivia</h1>
    <h1>Fishy</h1>
    <h1>{{text}}</h1>
    <ion-button [color]="color1" (click)="click1()">{{button1}}</ion-button>
    <ion-button [color]="color2" [disabled]="shutdown" (click)="click2()">{{button2}}</ion-button>
    <br>
    <br>
    <h1>{{Score}}</h1>
    <br>
    <br>
    <h1>{{percentString}}{{percent}}{{percentSign}}</h1>
  </div>
</ion-content>
